/* Style for normal text */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    background-image: "https://www.google.com/search?sca_esv=4b38bf61f79e2069&rlz=1C1GCEA_enBE1074BE1074&sxsrf=ADLYWIJumqiGq55Iqu62s6IP5H6TE_G5_w:1732630697689&q=don+bosco+haacht+logo&udm=2&fbs=AEQNm0Aa4sjWe7Rqy32pFwRj0UkWd8nbOJfsBGGB5IQQO6L3JzWreY9LW7LdGrLDAFqYDH2Z7s7jqgHIAW8PVnwe_sR_CBaUNmpNXSM_RsT-eM7yM2ycKzwNLcNswi1mwqHkQ0g9Yejwk1Y3IaETdzmYjQmiUkB8b69XpD9GhioqAKKjafB-IJw&sa=X&ved=2ahUKEwidx4yqmPqJAxXMgv0HHRY2K9EQtKgLegQIGRAB&biw=1536&bih=730&dpr=1.25#vhid=MkBtVnsIXBB5DM&vssid=mosaic";
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    background-color: #ccc;
    position: relative;
}

/* Style for "Welkom bij de Opendeurdag Quiz van Don Bosco Haacht" */
.h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
}

/* Style for form container */
form {
    margin: 10px auto;
    width: 300px;
    padding: 8px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style for form labels */
label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

/* Style for the input field */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style for theb Enter button */
button {
    width: 25%;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border-color: #000;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}       

button:hover {
    background-color: #ccc;
}

/* Style for the image */
img {
    display: block;
    width: 50%;
    height: auto;
}